<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/templates/css/styles3.css"/>
    <title>Турниры</title>
</head>
<body>
<div class="back-d-1">
    <div class="header-d-1">
        <div class="df fr d-8 exit-button-d-1">
            <a class="ma button-1" href="/">Выйти</a>
        </div>
    </div>
    <div class="tour-add-d-1">
        <div class="header-d-2">
            Добавление турнира
        </div>
        <div class="tour-add-d-2">
            <div class="df ma tour-add-d-3">
                <input class="ma input-1" type="text" id="addField" placeholder="Введите название нового турнира"/>
                <button class="ma button-1 add-button-1" type="button" id="addButton">Добавить</button>
            </div>
        </div>
        <div class="message-d" id="addMessage"/>
    </div>
    <div class="tour-list-d-1">
        <div class="header-d-2">
            Список турниров пользователя
        </div>
        <div class="df tour-list-d-2">
            <div class="ma tour-list-d-3">
                <ul id="ul-1">
<!--                    <li class="df li-1 li-2">-->
<!--                        <a class="ma button-2 a-1" href="/tournament/1">Турнир 1</a>-->
<!--                        <a class="ma button-2 a-2" href="/tournament/1/delete">Удалить</a>-->
<!--                    </li>-->
<!--                    <li class="df li-1">-->
<!--                        <a class="ma button-2 a-1" href="/">Турнир 2</a>-->
<!--                        <a class="ma button-2 a-2" href="/tournament/1/delete">Удалить</a>-->
<!--                    </li>-->
<!--                    <li class="df li-1 li-2">-->
<!--                        <a class="ma button-2 a-1" href="/">Турнир 3</a>-->
<!--                        <a class="ma button-2 a-2" href="/tournament/1/delete">Удалить</a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/templates/js/tourList/tourList.js"></script>
</body>
</html>