<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/templates/css/old/stylesOld.css"/>
    <title>Турниры</title>
</head>
<body>
<form name="tourListForm">
    <div class="backgroung-3">
        <div class="header-1">
            <a class="parent-header-text-1 header-text-1" href="/">Выйти</a>
        </div>
        <div class="header-2">
            <h1>Добавление турнира</h1>
        </div>
        <div class="main-1">
            <div class="add-div">
                <input class="input-1" type = "text" id="addField" placeholder="Введите название нового турнира"/>
                <button class="button-4" type="button" id="addButton">Добавить</button>
            </div>
            <div class="message-block-2" id="addMessage"/>
        </div>
        <div class="header-2 header-2-2">
            <h1>Список турниров пользователя</h1>
        </div>
        <div class="main-2">
            <ul id = "ul_1">
<!--                <li class="li-1">-->
<!--                    <a class="li-a li-a-1" href="/tournament/1">Турнир 1</a>-->
<!--                    <a class="li-a li-a-2" href="/tournament/1/delete">удалить</a>-->
<!--                </li>-->
<!--                <li class="li-2">-->
<!--                    <a class="li-a li-a-1" href="/">Турнир 2</a>-->
<!--                    <a class="li-a li-a-2" href="/tournament/1/delete">удалить</a>-->
<!--                </li>-->
<!--                <li class="li-1">-->
<!--                    <a class="li-a li-a-1" href="/">Турнир 3</a>-->
<!--                    <a class="li-a li-a-2" href="/tournament/1/delete">удалить</a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</form>
<script src="/templates/js/tourList/tourList.js"></script>
</body>
</html>