<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/templates/css/styles2.css"/>
    <title>Вход</title>
</head>
<body>
    <div class="grid-container-1">
        <div class="grid-container-2">
            <label class="label-1 homeLoginLabel" for="login">Логин:</label>
            <input type="text" class="field-1 homeLoginField" required id="login"/>
            <label class="label-1 homePasswordLabel" for="password">Пароль:</label>
            <input type="password" class="field-1 homePasswordField" id="password" required/>
            <button type="button" class="parent-button-1 button-1" id="entrance">Войти</button>
            <button type="button" class="parent-button-1 button-2" id="registration">Регистрация</button>
            <button type="button" class="parent-button-1 button-3" id="skipLogining">Пропустить</button>
        </div>
        <div class="home-message-block" id="message"></div>
    </div>
<script src="/templates/js/homePage/homePage.js"></script>
</body>
</html>