<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/templates/css/styles3.css"/>
    <title>Регистрация</title>
</head>
<body>
    <div class="back-d-2">
        <div class="header-d">
            <div class="fl header-d-2"></div>
            <div class="fl df header-d-3">
                <a class="ma button-1 button-2" href="/">Назад</a>
            </div>
        </div>
        <div class="main-d">
            <div class="fl d-35"></div>
            <div class="fl d-25">
                <div class="d-h50">
                    <div class="d-h45"></div>
                    <div class="d-h25">
                        <div class="d-h50">
                            <div class="fl df d-20">
                                <div class="ma label-d-1">
                                    <label class="label-1" for="login">Логин:</label>
                                </div>
                            </div>
                            <div class="fl df d-60">
                                <input type="text" class="ma field-1" id="login" required/>
                            </div>
                            <div class="fl d-20"></div>
                        </div>
                        <div class="d-h50">
                            <div class="fl df d-20">
                                <div class="ma label-d-1">
                                    <label class="label-1" for="password">Пароль:</label>
                                </div>
                            </div>
                            <div class="fl df d-60">
                                <input type="text" class="ma field-1" id="password" required/>
                            </div>
                            <div class="fl d-20"></div>
                        </div>
                    </div>
                    <div class="df d-h25">
                        <button type="button d-30" class="ma w-30 button-4" id="registration">Регистрация</button>
                    </div>
                </div>
                <div class="d-h10">
                    <div class="home-message-block" id="message"></div>
                </div>
            </div>
            <div class="fl d-40"></div>
        </div>
    </div>
<script src="/templates/js/registration/registration.js"></script>
</body>
</html>