<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/templates/css/styles3.css"/>
    <title>Турниры</title>
</head>
<body>
<div class="back-d">
    <div class="header-d">
        <div class="fl header-d-2"></div>
        <div class="fl df header-d-3">
            <a class="ma button-1 button-2" href="/">Выйти</a>
        </div>
    </div>
    <div class="main-d">
        <div class="fl main-d-2">
            <div class="add-d">
                <div class="df header-d-4">
                    <div class="ma">Добавление турнира</div>
                </div>
                <div class="add-d-2">
                    <div class="add-d-3">
                        <div class="fl d-10"></div>
                        <div class="fl df input-d-1">
                            <input class="ma input-1" type="text" id="addField" placeholder="Введите название нового турнира"/>
                        </div>
                        <div class="fl d-5"></div>
                        <div class="fl df add-button-d-1">
                            <button class="ma button-1 add-button-1" type="button" id="addButton">Добавить</button>
                        </div>
                        <div class="fl d-15"></div>
                    </div>
                    <div class="message-d" id="addMessage"></div>
                </div>
            </div>
        </div>
        <div class="fl main-d-3">
            <div class="df header-d-5">
                <div class="ma">Список турниров пользователя</div>
            </div>
            <div class="d-h4"></div>
            <div class="list-d-1">
                <ul class="ul-1" id="ul-1">
<!--                    <li class="df li-1 li-2">-->
<!--                        <a class="ma button-3 a-1" href="/tournament/1">Турнир 1</a>-->
<!--                        <a class="ma button-3 a-2" href="/tournament/1/delete">Удалить</a>-->
<!--                    </li>-->
<!--                    <li class="df li-1">-->
<!--                        <a class="ma button-3 a-1" href="/">Турнир 2</a>-->
<!--                        <a class="ma button-3 a-2" href="/tournament/1/delete">Удалить</a>-->
<!--                    </li>-->
<!--                    <li class="df li-1 li-2">-->
<!--                        <a class="ma button-3 a-1" href="/">Турнир 3</a>-->
<!--                        <a class="ma button-3 a-2" href="/tournament/1/delete">Удалить</a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/templates/js/tourList/tourList.js"></script>
</body>
</html>